
@function pxToUpx($n) {
  @return $n + upx;
}
$main:#009193;
$white:#fff;
$ft-333:#333;
$ft-666:#666;
$ft-999:#999;
$ft-cf:#cfcfcf;
$borderColor:#EDEDED; // 边框颜色
$placeholder: red;
$bg:#f8f8f8;
.btn{
	display: block;
	width: 80%;
	height: 86upx;
	line-height: 86upx;
	margin-top: 59upx;
	text-align: center;
	font-size: 30upx;
	color: #fff;
	border-radius: 20upx;
	background: $main;
	margin: 0 auto;
}

